# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Dell\OneDrive - Technion\טכניון\סמסטר ז\פוטוגרמטריה ספרתית\project\code\Photogrammetry\Digital\Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
